.fs-7 {
  font-size: 0.70rem  !important; 
  color: #61fdd8  !important;
}

.footer{
    font-weight: 100 !important;
    color: #61fdd8 !important;
    font-size: smaller !important;
    
}

.customFooter{
background-color: #0a1930;

}

