.landingCommon{
    background-color:#0e213d ;
    height: 100vh;

}

.ServiceHeading{
    font-size: 40px;
    color: #61fdd8;
    font-weight: 700;
    margin-bottom: 90px;

}

.commonCardProp{
    height: 250px;
    width:550px;
    background-color: #0a1930;
    border-radius: 8px;
    padding: 20px;
    color: #61fdd8;
}

.icons{
    font-size: 60px;
}

.cardContext{
    padding-top: 10px;
}