.landingCommon {
    background-color: #0e213d;
    /* height: 100vh; */
    padding: 1.25rem;
}

.box {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

.ServiceHeading {
    font-size: 2.5rem;
    color: #61fdd8;
    font-weight: 700;
    margin-bottom: 5.625rem;

}

.commonCardProp {
    height: 15.625rem;
    width: 100%;
    background-color: #0a1930;
    border-radius: 0.5rem;
    padding: 1.25rem;
    color: #61fdd8;
}

.icons {
    font-size: 3.75rem;
}

.cardContext {
    padding-top: 0.625rem;
}

@media (max-width: 768px) {
  .landingCommon {
    height: auto;
  }
  .box {
    flex-direction: column;
    align-items: center;
  }

}
