.landingSection3 {
    background-color: #0a1930;
    /* height: 100vh; */

}

.card-custom {
    border: none !important;
    border-radius: 0.5rem !important;
    background-color: #0a1930 !important;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 1.25rem;
}


.EventsHeading {
    font-size: 2.5rem;
    color: #61fdd8;
    font-weight: 700;
    margin-bottom: 3.125rem;

}

.date {
    color: #61fdd8;
}

.card-background {
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    background-color: #112240;
    color: #61fdd8;
}

.register-Btn {
    border: none;
    background-color: #112240;
    color: #61fdd8;
    font-size: smaller;
}

.arrow-custom {
    font-size: 0.75rem;
}

.card-content {
    font-size: smaller;
    color: #61fdd8;
}

.Small-Card-Name {

    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background-color: black;
    color: #61fdd8;
    font-size: smaller;
    border-radius: 0.3125rem;
}


.card-head {
    font-weight: bolder;
    color: white;
}

.subHeading {
    width: 100%;
    color: #61fdd8;
    font-size: 1.25rem;
    background-color: #0a1930;
    font-weight: bolder;
    margin: 0rem 0rem 1.875rem 0rem;
}

.custom-img {
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .custom-img {
        border-top-right-radius: 0.625rem;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0rem;

    }
    .card-background{
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.625rem;

    }
    
}