.landingCommon5{
    background-color:#0e213d ;
    height: 100vh;

}


.ContactHeading{
    font-size: 40px;
    color: #61fdd8;
    font-weight: 700;
    margin-bottom: 90px;

}

.Form-custom{
    background-color: #0a1930;
    color: white;
    padding: 70px;
    width: 800px;
    border-radius: 10px;
}

.input-custom{
    background-color: #0e213d !important;
    color: #61fdd8 !important;
    border: 1px solid #61fdd8 !important;
    height: 50px;
}
.textArea-custom{
     background-color: #0e213d !important;
    color: #61fdd8 !important;
    border: 1px solid #61fdd8 !important;
    height: 150px;
}

.textArea-custom::placeholder,
.input-custom::placeholder {
    color: #61fdd8 !important;
    opacity: 0.7;  /* Optional: make it more visible */
}


.submit-Btn-Custom{
    width: 100%;
    height: 50px;
    color: black !important;
    background-color: #61fdd8 !important;
    border: none;
}

